
.breadcrumb {
  display: table;
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: transparent;
  > span {
    &.active{
      background-color: transparent;
    }
    > a, span{
      height: 60px;
      display: table-cell;
      vertical-align: middle;
      padding-left: 40px;
      padding-right: 60px;
      color: #ad0000;
      text-shadow: 0px 0px 4px #FFFFFF;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      font-size: 30px;
      border-right: solid 1px white;
      position: relative;
      z-index: 1;
      text-decoration: none;
      background: #ad0000 -webkit-linear-gradient(top, #4f4f4f 0%, #ffffff 40%, #ffffff 60%, #4f4f4f 100%);
    }
    > a:hover {
      color: #30c1fb;
    }
  }
  > span:first-child {
    > a, span {
      padding-left: 75px;
      left: 0;
      z-index: 2;
    }
  }
  > span:last-child {
    > a, span {
      background: #ad0000 -webkit-linear-gradient(top, #adadad 0%, #4f4f4f 40%, #4f4f4f 60%, #adadad 100%);
      box-shadow: inset 0 0 10px #a3a3a3;
      color: #30c1fb;
      text-shadow: 0px 0px 0px #000000;
      position: relative;
      z-index: 0;
      border-right: none;
    }
  }
  > span:nth-child(2) {
    > a, span {
      left: -30px;
    }
  }
  > span:nth-child(3) {
    > a, span {
      left: -60px;
    }
  }
}
