<div class="view-order-page">
  <div class="container">
    <div class="info-wrapper">
      <div class="customer-info-block">
        <label>Customer</label>
        <div class="info">
          <label>Name: </label> <span>{{customerOrder.customer.name}}</span>
        </div>
        <div class="info">
          <label>Middle name: </label> <span>{{customerOrder.customer.middlename}}</span>
        </div>
        <div class="info">
          <label>Surname: </label> <span>{{customerOrder.customer.surname}}</span>
        </div>
        <div class="info">
          <label>Address: </label> <span>{{customerOrder.customer.address}}</span>
        </div>
      </div>
      <div class="order-info">
        <label>Order content</label>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Goods name</th>
            <th>Goods price</th>
            <th>Goods count</th>
            <th>Total price</th>
          </tr>
          </thead>
          <tr *ngFor="let good of customerOrder.getGoodsKeys(), let i = index">
            <td>{{i+1}}</td>
            <td>{{good.name}}</td>
            <td>{{good.price}}</td>
            <td>{{customerOrder.goods.get(good)}}</td>
            <td>{{good.price * customerOrder.goods.get(good)}}</td>
          </tr>
        </table>
        <div class="summary"><label>Total cost: </label>{{customerOrder.getTotalSum()}}</div>
      </div>
    </div>
  </div>
</div>
