<div class="view-order-page">
  <div class="container">
    <div class="customer-info-block">
      <div class="info">
        <label>Name: </label> <span>Ivan</span>
      </div>
      <div class="info">
        <label>Second name: </label> <span>Ivanovich</span>
      </div>
      <div class="info">
        <label>Surname: </label> <span>Ivanov</span>
      </div>
      <div class="info">
        <label>Address: </label> <span>Babushkina 5</span>
      </div>
    </div>
    <div class="order-info">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Goods name</th>
            <th>Goods price</th>
            <th>Goods count</th>
          </tr>
        </thead>
        <tr>
          <td>Some goods</td>
          <td>1000</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Some goods 2</td>
          <td>2000</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Some goods 3</td>
          <td>3000</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Some goods 4</td>
          <td>500</td>
          <td>10</td>
        </tr>
      </table>
    </div>
  </div>
</div>
