.view-order-page{
  position: fixed;
  top: 60px;
  bottom: 0px;
  width: 100vw;
  background-color: #4f4f4f;
  display: flex;
  flex-direction: column;

  .container{

    width: 95%;
    flex-basis: 100%;
    background-color: white;
    box-shadow: inset 10px 20px 40px #525252;

    .customer-info-block{
      margin: 25px auto;
      width: 80%;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: inset 0px 0px 15px #525252;

      .info{
        min-width: 100%;
        padding: 4px 10px;
        border-bottom: 1px solid black;
      }
    }

    .order-info{
      margin: 25px auto;
      width: 80%;
      background: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: inset 0px 0px 15px #525252;
    }
  }
}
:host {
  position: fixed;
  z-index: 1;
}


