@font-face {
  font-family: gilroyLight;
  src: url(../assets/fonts/Gilroy-Light.otf);
}

html, body{
  height: 100%;
  font-family: gilroyLight;
  margin: 0;
}

span.active {
  background-color: gray;
}

.main-container{

}

.nav-button{

}
