.order-list-page {
  margin-top: 60px;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;

  md-slide-toggle.md-checked:not(.md-disabled) .md-slide-toggle-thumb {
    background-color: #ffc107;
  }

  .order-top-panel {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
}

:host {
  position: fixed;
  z-index: 1;
}

.order-row {
  display: flex;
  height: 50px;
  margin: 20px 0 0px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 21px #ffffff;
  background-color: #44090f;
  color: #d2d2d2;
  &.gu-transit {
    cursor: -webkit-grabbing;
  }
  .order-cell {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
  .order-hints {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    span {
      height: 30px;
      padding: 0 12px;
      background-color: #aeaeae;
      box-shadow: inset 0 0 8px #000000;
      color: #650202;
      border-radius: 15px;
      position: relative;
      top: -20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .row-number{
      top: 8px;
      left: -20px;
    }
  }
}

.order-row.drag-activated:hover {
  cursor: -webkit-grab;
}




