.login {
  height: 200px;
  width: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .form-group.has-error {
    .validation-danger {
      color: #a94442;
    }
  }

  .btn {
    margin: 15px;
  }

  .login-alert {
    position: absolute;
    width: 100%;
    top: -55px;
  }

  .login-validation-error {
    display: table;
    height: 36px;
    margin-top: 23px;
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
