.navigation {
  width: 100vw;
  margin: auto;
  background-color: #1e0000;
  position: absolute;
  z-index: 2;

  .breadcrumb-container {
    float: left;
    background-color: transparent;
    position: relative;
    height: 60px;

    breadcrumb{
      margin: 0;
      height: 60px;
      padding: 15px;
      font-size: 20px;
    }
  }

  .logo-icon {
    position: absolute;
    left: 0;
    z-index: 3;
    height: 60px;
    width: 60px;
    padding: 0;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-right: solid 1px white;
    color: #650202;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      height: 60px;
      float: left;
    }
  }

  .logo-icon:active{
    background: #ad0000 -webkit-linear-gradient(top, #4f4f4f 0%, #adadad 50%, #adadad 50%, #4f4f4f 100%);
    color: #30c1fb;
    font-size: 2.5em;
  }
  .logo-icon:hover{
    color: #30c1fb;
  }

  .label-name {
    height: 60px;
  }
}
