<md-sidenav-layout>
  <md-sidenav #leftSidebar>
    <div class="header-slide-menu-row">
      <span class="menu-label">Menu</span>
      <i class="fa fa-arrow-circle-left fa-3x navbar-brand close" aria-hidden="true" (click)="leftSidebar.close()"></i>
    </div>
    <div class="user-row">
      <span class="name">{{user && (user.firstName + " " + user.lastName)}}</span>
      <i class="fa fa-sign-out logout" aria-hidden="true" (click)="logOut()"></i>
    </div>
    <a routerLinkActive="active" routerLink="/home" (click)="leftSidebar.toggle()" class="nav-button">Home</a>
    <a routerLinkActive="active" routerLink="/my-orders" (click)="leftSidebar.toggle()" class="nav-button">Orders</a>
    <a routerLinkActive="active" routerLink="/statistics-list" (click)="leftSidebar.toggle()" class="nav-button">Statistics</a>
    <a routerLinkActive="active" routerLink="/chief" (click)="leftSidebar.toggle()" class="nav-button">Chief</a>
  </md-sidenav>

  <navigation></navigation>
  <!--<custom-alert></custom-alert>-->

  <main class="main-container">
    <router-outlet></router-outlet>
  </main>
  <!--<modal-warning></modal-warning>-->
</md-sidenav-layout>
